<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>My resume!</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="../static/css/default.css">
	<link rel="stylesheet" href="../static/css/layout.css">
   <link rel="stylesheet" href="../static/css/media-queries.css">
   <link rel="stylesheet" href="../static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="../static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="../static/images/favicon.ico" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	        <li><a class="smoothscroll" href="#resume">Resume</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Yim Jiun Jye</h1>
            <h3>I'm a Malaysian <span>Civil Engineer</span> turned <span>Software Engineer</span> and <span>Ready</span> to take on a new role in the IT industry. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
				<li><a href="https://www.linkedin.com/in/yim-jiun-jye-759085120"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://github.com/SkyHearts"><i class="fa fa-github"></i></a></li>
				<li><a href="mailto:jiunjye.yim@gmail.com"><i class="fa fa-envelope"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="../static/images/profilpic.jpeg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I’m a versatile professional with a background in Civil Engineering and a growing proficiency in Computer Science. 
			Graduated with a civil engineering degree from Universiti Tunku Abdul Rahman (UTAR). 
			My previous tenure has enriched my proficiency in structural design, project management, and building code compliance. 
			I've also honed my leadership and problem-solving skills while collaborating effectively with interdisciplinary teams. 
			These experiences have provided a strong foundation for my ongoing journey into Computer Science where I aspire to become a software developer.
            </p>


         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ================================================== -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Universiti Tunku Abdul Rahman</h3>
                  <p class="info">Bachelor of Civil Engineering (Hons) <span>&bull;</span> <em class="date">2012 - 2016</em></p>

                  <p>
				   As a child, highrises amazed me with how they stand strong against harsh elements while a card pyramid
				   easily crumble when blown at such a low height. There were many documentaries about mega structure including our 
				   own KLCC twin tower which fueled my interest even more.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>42 Kuala Lumpur</h3>
                  <p class="info">Computer Science curriculum <span>&bull;</span> <em class="date">2023 - ongoing</em></p>

                  <p>
				   As I was working full time as an Civil Engineer consultant, I had a new profound interest in computer science which was 
				   quickly taking over the job market due to lockdowns for Covid-19. I decided to upskill myself and eventually stumble
				   upon 42 Kuala Lumpur. 42 Kuala Lumpur differs from traditional education which encourages peer to peer learning wihout 
				   any prescence of teachers. This combine with their project-based learning model teaches crucial soft skill as well.
				   I have learned a wide range of technologies, which includes C/C++, data analysis, python and etc.
                  </p>
				  
				  <p>
					Learn more
					<a class="smoothscroll" href="https://42kl.edu.my//">42 Kuala Lumpur</a>
				  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ================================================== -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>YL Design Consultancy</h3>
                  <p class="info">Senior Structural Design Engineer <span>&bull;</span> <em class="date">Sept 2016 - June 2022</em></p>

                  <p>
					I focus on implementing design and analysis tasks in strict accordance with building code requirements. A significant aspect of my responsibilities involves supervising the work of fellow engineers and CAD technicians, supporting collaborative efforts within a team-oriented environment.
					I play a crucial role in mentoring and developing less experienced engineers.
					Interacting with relevant stakeholders, including architects and authorities, is an essential part of my job. This interaction is key to obtaining pertinent information vital to the successful execution of a project.
					In certain projects, I have taken on the role of a Resident Engineer, overseeing the construction process to ensure adherence to project specifications. This involves regular inspections to identify and resolve problems that may arise during construction. I am diligent in documenting and reporting on construction progress, maintaining detailed field notes, and logging daily activities to provide comprehensive records.
				  </p>
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Sunway Construction Sdn Bhd</h3>
                  <p class="info">Site Supervisor (Internship)  <span>&bull;</span> <em class="date">Oct 2014 - Dec 2014</em></p>

                  <p>
					I work closely with the Site Engineer to facilitate the planning, monitoring, and control of daily activities at project sites.
					This involves coordinating and overseeing the activities of subcontractors to ensure alignment with project objectives.
					Maintaining a focus on good housekeeping and the implementation of Environment Safety and Health (ESH) practices is integral to my responsibilities.
					I am diligent in ensuring that all construction activities adhere to prescribed standards, including drawings, specifications, construction plans, procedures, and work instructions. 
					By closely following these guidelines, I contribute to the overall success and quality of the construction projects under my purview.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ================================================== -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>Do take note that I began my coding journey in 2023 and these are the technologies i have used
			so far in 42Malaysia.
            </p>
			<div class="skill-images">
				<!-- <img src="../static/images/html5.svg" alt="Html5"> -->
				<!-- <img src="../static/images/css3.svg" alt="Css3"> -->
				<!-- <img src="../static/images/nodejs.svg" alt="node"> -->
				<!-- <img src="../static/images/react.svg" alt="react"> -->
				<!-- <img src="../static/images/typescript.svg" alt="TS"> -->
				<img src="../static/images/c.svg" alt="C">
				<img src="../static/images/c++.svg" alt="C++">
				<img src="../static/images/python.svg" alt="Python">
				<img src="../static/images/javascript.svg" alt="JS">
				<img src="../static/images/docker.svg" alt="Docker">
				<img src="../static/images/mysql.svg" alt="MySQL">
				<!-- <img src="../static/images/postgresql.svg" alt="PostGre"> -->
				<!-- <img src="../static/images/rust.svg" alt="Rust"> -->
				<!-- <img src="../static/images/neovim.svg" alt="neovim"> -->
				<!-- <img src="../static/images/nestjs.svg" alt="nestjs"> -->
				<!-- Add more images as needed -->
			</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
				<li><a href="https://www.linkedin.com/in/yim-jiun-jye-759085120"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://github.com/SkyHearts"><i class="fa fa-github"></i></a></li>
				<li><a href="mailto:jiunjye.yim@gmail.com"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="../static/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="../static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="../static/js/jquery.flexslider.js"></script>
   <script src="../static/js/waypoints.js"></script>
   <script src="../static/js/jquery.fittext.js"></script>
   <script src="../static/js/magnific-popup.js"></script>
   <script src="../static/js/init.js"></script>

</body>

</html>